.backdrop-turnscartfooter {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.688);
      z-index: 1000;
}

.container-turnscartfooter {
      position: fixed;
      width: 100%;
      height: 90px;
      position: fixed;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center;
      z-index: 100;
}

.container-turnscartfooter-open {
      width: 100%;
      position: fixed;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center;
      z-index: 1001;
}

.subcontainer-turnscartfooter {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      width: 100%;
      max-width: 900px;
      height: 100%;
      border-radius: 25px 25px 0px 0px;
      background-color: white;
      box-shadow: 0px -2px 5px -2px rgba(0, 0, 0, 0.5);

}

.subcontainer-turnscartfooter-open {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px;
      width: 100%;
      height: fit-content;
      max-width: 900px;
      border-radius: 25px 25px 0px 0px;
      background-color: var(--bg-color);
      box-shadow: 0px -2px 5px -2px rgba(0, 0, 0, 0.5);
      gap: 10px;
}

.subcontainer-turnscartfooter span {
      padding: 5px;
      height: 40px;
      font-size: 18px;
}

.subcontainer-turnscartfooter button {
      width: fit-content;
      padding: 5px 20px 5px 20px;
      border-radius: 15px;
      height: 40px;
      border: none;
      font-size: 18px;
      background-color: #2688ff;
      color: white;
      cursor: pointer;

}

.container-each-turn {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      /* height: 60px; */
      padding: 10px;
      border-radius: 10px;
      background-color: var(--bg-color-secondary);
      /* margin-top: 10px; */
}

.container-each-turn hr {
      border: 2px solid var(--bg-color-medium);
      width: 100%;
      border-radius: 10px;
}

.sub-container1-each-turn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 60px;
}

.sub-container2-each-turn {
      display: flex;
      align-items: center;
      /* justify-self: flex-end; */
      justify-content: flex-end;
      gap: 10px;
      width: 50%;
      margin-top: 10px;
}

.sub-container2-each-turn img {
      width: 30px;
      height: auto;
      margin-left: 5px;
}

.container-each-turn button {
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 30px;
      background-color: #2688ff;
      color: white;
      font-size: 23px;
      font-weight: bold;
      box-shadow: 0px 3px 5px -1px rgb(0, 0, 0, 0.5);
      margin-left: 12px;
      cursor: pointer;
}

.container-each-turn button:disabled {
      background-color: var(--bg-color);
      color: var(--bg-color-medium);
      cursor: auto;
}

.container-each-turn span {
      border-radius: 30px;
      font-size: 18px;
      font-weight: bold;
}

.container-each-turn #minor-plas span {
      border-radius: 30px;
      font-size: 16px;
      font-weight: bold;
      margin-left: 10px;

}

.container-each-turn #minor-plas {
      display: flex;
      align-items: center;
}

.container-each-turn #minor-plas #deleteturn-button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--text-color);
}

.container-each-turn #minor-plas #deleteturn-button img {
      width: 22px;
}

.extend-cart-btn {
      position: absolute;
      top: calc(0% - 10px);
      left: calc(50% - 20px);
      width: 40px;
      height: 40px;
      border-radius: 40px;
      box-shadow: 0px 0px 0px 5px rgb(255, 255, 255);
      background-color: rgb(229, 229, 229);
      cursor: pointer;
}

.extend-cart-btn img {
      width: 30px;
      height: 30px;
}

.div-container-totalsing-turns {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
}

.div-container-totalsing-turns span {
      margin: 10px;
}

.hr-totalsing-turns {
      width: 100%;
      border: 1px solid lightgray;
      border-radius: 10px;
}

.div-btns-pay-mp {
      display: flex;
      width: 100%;
      height: 40px;
      max-width: 500px;
      margin: 15px 0px 20px 0px;
}

.btn-sing-pay {
      width: 100%;
      border: none;
      height: 40px;
      border-radius: 6px;
      background-color: var(--text-color);
      color: var(--bg-color);
      box-shadow: 0px 3px 5px -2px rgb(0, 0, 0, 0.8);
      cursor: pointer;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: .7px;
}