.btn-wsp-ctfw {
      display: flex;
      border-radius: 4px;
      background-color: transparent;
      transition: .3s;
      padding: 3px;

}

.btn-wsp-ctfw-false {
      background-color: transparent;
}
