.loader {
      display: block;
      --height-of-loader: 10px;
      --loader-color: #0071e2;
      width: 170px;
      height: var(--height-of-loader);
      border-radius: 30px;
      background-color: rgba(0, 0, 0, 0.2);
      position: relative;
}

.loader::before {
      content: "";
      position: absolute;
      background: var(--loader-color);
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      border-radius: 30px;
      animation: moving 1s ease-in-out infinite;
      ;
}

@keyframes moving {
      50% {
            width: 100%;
      }

      100% {
            width: 0;
            right: 0;
            left: unset;
      }
}


/* ////////////////////////////////// */
.container-home {
      padding-top: 40px;
}

.img-whatsapp-home {
      width: 45px;
      height: 45px;
      margin-right: 10px;
      transition: .3s ease-in-out;
}

.img-whatsapp-home:hover {
      cursor: pointer;
      transform: translateY(-2px);

}

.img-social-home {
      transition: .3s;
}

.img-social-home:hover {
      cursor: pointer;
      transform: translateY(-2px);

}

.img-logotipo-home {
      /* width: ; */
      height:100%;
}

@media (min-width:500px) and (max-height: 800px) {
      .btn-reservar-home {
            height: 40px;
            width: 120px;
      }

      .btn-reservar-home-link {
            height: 40px;
            width: 120px;
            border-radius: 50px;
      }

      .img-social-home {
            width: 30px;
            height: 30px;
            transition: .3s;
            margin-left: 10px;
      }

      .img-social-home-link {
            width: 30px;
            height: 30px;
            margin-bottom: 10px;

      }

      .img-whatsapp-home-link {
            width: 40px;
            height: 40px;
      }
}


@media (min-width:500px) and (min-height: 801px) and (max-height: 1000px) {
      .btn-reservar-home {
            height: 50px;
            width: 140px;
      }

      .btn-reservar-home-link {
            height: 50px;
            width: 140px;
            border-radius: 50px;
      }

      .img-social-home {
            width: 40px;
            height: 40px;
            transition: .3s;
            margin-left: 10px;

      }

      .img-social-home-link {
            width: 40px;
            height: 40px;
            border-radius: 50px;
            margin-bottom: 10px;

      }

      .img-whatsapp-home-link {
            width: 55px;
            height: 55px;
      }
}

@media (max-width:500px) and (max-height: 1000px) {
      .btn-reservar-home {
            height: 50px;
            width: 140px;
      }

      .btn-reservar-home-link {
            height: 50px;
            width: 140px;
            border-radius: 50px;
      }

      .img-social-home {
            width: 40px;
            height: 40px;
            transition: .3s;
            margin-left: 10px;
      }

      .img-social-home-link {
            width: 40px;
            height: 40px;
            border-radius: 50px;
            margin-bottom: 10px;

      }

      .img-whatsapp-home-link {
            width: 45px;
            height: 45px;
      }
}