.div-container-tel {
      /* padding: 5px; */
      width: 100%;
      height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 10px;
}

.btn-update-turn-nestedList {
      border-radius: 40px;
      border: none;
      height: 45px;
      min-width: 45px;
      margin-left: 10px;
}

.my-button-upadatephone {
      border-radius: 40px;
      border: none;
      height: 45px;
      min-width: 45px;
      margin-left: 10px;
      cursor: pointer;
      background-color: #2196f3;
      transition: .2s;
}

.my-button-upadatephone:hover {
      background-color: #50b0fe;
}


.my-button-disabled-upadatephone {
      border-radius: 40px;
      border: none;
      height: 45px;
      min-width: 45px;
      margin-left: 10px;
      cursor: auto;
      background-color: lightgray;
}

.hr-nestedList {
      border: none;
      height: 1px;
      margin-bottom: 15px;
}


.h3-nestedList {
      font-family: Jost, sans-serif;
}

.listItembtn-nestedList {
      display: flex;
      justify-content: space-between;
      height: 30px;
      border-radius: 4px;
}

.spanErrorInputTel {
      color: red;
      font-weight: bold;
}

@media (min-width:500px) and (max-height: 800px) {
      .h3-nestedList {
            font-size: 15px;
      }
}


@media (min-width:500px) and (min-height: 801px) and (max-height: 1000px) {
      .h3-nestedList {
            font-size: 17px;
      }
}

@media (max-width:500px) and (max-height: 1000px) {
      .h3-nestedList {
            font-size: 17px;
      }
}