@media (min-width:500px) and (max-height: 800px) {
      .box-subContainer1-userModal {
            margin-bottom: 8px;
      }

      .img-user-userModal {
            width: 45px;
            height: 45px;
            border-radius: 50px;
      }

      .h2 {
            font-size: 20px;
      }

      .hr-userModal {
            margin-top: 10px;
            margin-bottom: 10px;
      }

      .btn-userModal {
            background-color: transparent;
            cursor: pointer;
            border: none;
            font-family: Jost, sans-serif;
            font-weight: bold;
            font-size: 15px;
      }

      .box-login-logout-userModal {
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
      }
}


@media (min-width:500px) and (min-height: 801px) and (max-height: 1000px) {
      .box-subContainer1-userModal {
            margin-bottom: 8px;
      }

      .img-user-userModal {
            width: 48px;
            height: 48px;
            border-radius: 50px;
      }

      .h2 {
            font-size: 22px;
      }

      .hr-userModal {
            margin-top: 10px;
            margin-bottom: 10px;
      }

      .btn-userModal {
            background-color: transparent;
            cursor: pointer;
            border: none;
            font-family: Jost, sans-serif;
            font-weight: bold;
            font-size: 17px;
      }

      .box-login-logout-userModal {
            margin-bottom: 25px;
            display: flex;
            justify-content: center;
      }
}

@media (max-width:500px) and (max-height: 1000px) {
      .box-subContainer1-userModal {
            margin-bottom: 8px;
      }

      .img-user-userModal {
            width: 48px;
            height: 48px;
            border-radius: 50px;
      }

      .h2 {
            font-size: 22px;
      }

      .hr-userModal {
            margin-top: 15px;
            margin-bottom: 15px;
      }

      .btn-userModal {
            background-color: transparent;
            cursor: pointer;
            border: none;
            font-family: Jost, sans-serif;
            font-weight: bold;
            font-size: 17px;
      }

      .box-login-logout-userModal {
            margin-bottom: 25px;
            display: flex;
            justify-content: center;
      }
}