.slick-slide {
      pointer-events: none;
}

@media (min-width:500px) and (max-height: 800px) {
      .img-carousel-footer {
            width: 130px;
      }
}


@media (min-width:500px) and (min-height: 801px) and (max-height: 1000px) {
      .img-carousel-footer {
            width: 150px;
      }
}

@media (max-width:500px) and (max-height: 1000px) {
      .img-carousel-footer {
            width: 110px;
      }
}

.div-container-custom-shape-divider-and-div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
}

.div-container-custom-shape-divider-and-div svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 55px;
      z-index: 1;

}



/** For mobile devices **/
@media (max-width: 767px) {
      /* .div-container-custom-shape-divider-and-div svg {
            width: calc(100% + 1.3px);
            height: 70px;
      } */
}