  .btn-loginout-logout {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: fit-content;
        padding: 5px;
        height: 40px;
        font-size: 20px;
        border: none;
        font-family: Jost, sans-serif;
        cursor: pointer;
        transition: .2s;
        background-color: var(--bg-color-secondary);
  }

  .btn-loginout-login:disabled {
        pointer-events: none;
        cursor: auto;
  }

  .btn-loginout-logout img {
        filter: var(--filter-invert);
  }

  .btn-loginout-logout:hover {
        background-color: var(--color-error);

  }

  .btn-loginout-logout span {
        /* filter: invert(100%) brightness(100%) hue-rotate(180deg); */
        letter-spacing: .3px;
        /* font-weight: bold; */
  }