  .btn-loginout-logout {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: fit-content;
        padding: 5px;
        height: 40px;
        font-size: 20px;
        border: none;
        font-family: Jost, sans-serif;
        cursor: pointer;
        transition: .2s;
  }

  .btn-loginout-login:disabled {
        pointer-events: none;
        cursor: auto;
  }

  .btn-loginout-logout:hover {
        background-color: #da0000;

  }
  .btn-loginout-logout:hover img {
        filter: invert(100%) brightness(100%) hue-rotate(180deg);

  }

  .btn-loginout-logout:hover span {
        filter: invert(100%) brightness(100%) hue-rotate(180deg);
        font-weight: bold;
  }