 #root {
  height: 100%;
  max-width: 1920px;
  /* text-align: center; */
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* scrollbar-gutter: stable; */
}

@font-face {
  font-family: 'Jost';
  src: url('./assets/fonts/Jost-Light.ttf') format('woff');
  /* Ajusta la ruta según tu estructura de carpetas */
}

body {
  font-family: 'Jost', sans-serif;
}