 #root {
  height: 100%;
  /* max-width: 1920px;  VER SI INFLUIRIA NEGATIVO EN EL CASO DE SER MAS GRANDE */ 
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Jost';
  src: url('./assets/fonts/Jost-Light.ttf') format('woff');
}

body {
  font-family: 'Jost', sans-serif;
}
body.alert-open {
  overflow: hidden;
}