 #root {
   height: 100%;
   /* max-width: 1920px;  VER SI INFLUIRIA NEGATIVO EN EL CASO DE SER MAS GRANDE */
 }

 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Jost', sans-serif;

 }

 @font-face {
   font-family: 'Jost';
   src: url('./assets/fonts/Jost-Light.ttf') format('woff');
 }

 body {
   user-select: none;
 }

 body.alert-open {
   overflow: hidden;
 }

 /* Estilos para motores Webkit y blink (Chrome, Safari, Opera...) */
 *::-webkit-scrollbar {
   width: 2px;
   height: 2px;
 }

 *::-webkit-scrollbar-thumb {
   background-color: #797979;
   border-radius: 10px;
 }

 *::-webkit-scrollbar-thumb:hover {
   background-color: #afafaf;
 }

 *::-webkit-scrollbar-track {
   border-radius: 10px;
   height: 2px;
 }

 .div-bg-alert {
   animation: fade-in-bg-color .3s ease-in-out forwards;

 }

 .div-bg-alert-down {
   animation: fade-in-bg-color-down .3s ease-in-out forwards;
 }

 @keyframes fade-in-bg-color {
   from {
     background-color: transparent;
   }

   to {
     background-color: rgba(0, 0, 0, 0.4);
   }
 }

 @keyframes fade-in-bg-color-down {
   from {
     background-color: rgba(0, 0, 0, 0.4);

   }

   to {
     background-color: transparent;
   }
 }