.btn-userProfile {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      border: none;
}

.btn-userProfile {
      height: 40px;
      width: 40px;
      position: relative;
}

.img-user-nav {
      border-radius: 50px;
      height: 40px;
      width: 40px;
}

@media (min-width:500px) and (max-height: 800px) {
}

@media (min-width:500px) and (min-height: 801px) and (max-height: 1000px) {
}

@media (max-width:500px) and (max-height: 1000px) {
}